.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0df541;
    color: #b61b1e;
    padding: 20px 350px;

}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right {
    margin-left: auto;
}

.menu-icon {
    margin-right: 10px;
}
.App-header {
    text-align: center; /* Om de inhoud in het midden van de pagina te centreren */
}

.content-wrapper {
    margin: 0 auto; /* Om de inhoud in het midden van de pagina te plaatsen */
    max-width: 800px; /* Optioneel: pas dit aan op basis van je lay-outbehoeften */
}

