.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0df541;
    color: #b61b1e;
    padding: 20px 350px;

}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right {
    margin-left: auto;
}

.menu-icon {
    margin-right: 10px;
}

